@model IEnumerable<WebAppMovieProject.Models.StreamingPlatform>

@{
    ViewData["Title"] = "Streaming Platform";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlatformName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlatformId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PlatformId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
